@font-face {
    font-family: "Source Sans Pro Semibold";
    src: url("sourcesanspro-semibold.eot"); /* IE9 */
    src: url("sourcesanspro-semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("sourcesanspro-semibold.woff") format("woff"), /* chrome, firefox */
    url("sourcesanspro-semibold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("sourcesanspro-semibold.svg#Source Sans Pro Semibold") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


