@background: #535353;
@border: #3A3C3B;
@text: #c4c4c4;
@highlight: #00B95D;

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url("../../assets/fonts/sourcesanspro-regular.eot"); /* IE9 */
  src: local('../../assets/fonts/Source Sans Pro'),
  url('../../assets/fonts/sourcesanspro-regular.woff') format('woff'),
  url('../../assets/fonts/sourcesanspro-regular.ttf')  format('truetype')
}
